#header {
  width: 100%;
  background-color: rgb(34, 34, 39);
  color: white;
  height: 80px;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      margin: 1em;
    }
  }
}
