#add-expense {
  display: flex;
  justify-content: center;
}
.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  outline: none;
  font-size: 14px;
}
#name {
  input {
    border-right: 1px solid #aaa;
    width: 250px;
    border-radius: 3px 0px 0px 3px;
  }
}
#cost {
  input {
    width: 100px;
    border-radius: 0px 3px 3px 0px;
  }
}
.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
}

/* TWO */
.custom-field input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field input:valid,
.custom-field input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.btn-add {
  background: #222;
  border: none;
  color: white;
  height: 45px;
  padding: 10px;
}
.btn-add:hover {
  cursor: pointer;
}
