<div id="main-page">
  <app-category-navbar [categories]="budget.categories"></app-category-navbar>
  <app-add-category (addCategory)="addCategory($event)"></app-add-category>
  <app-remove-category
    *ngIf="activeCategoryIndex > 0"
    [activeCategory]="activeCategory"
    (removeCategory)="removeActiceCategory($event)"
  ></app-remove-category>
  <app-category [category]="activeCategory"></app-category>
  <div *ngIf="categoryIndex != 0">
    <app-previous-category
      [index]="categoryIndex"
      (previousCategory)="setActiveCategory($event)"
    ></app-previous-category>
  </div>
  <div *ngIf="categoryIndex != activeCategoryIndex">
    <app-next-category
      [index]="categoryIndex"
      [categoryCount]="activeCategoryIndex"
      (nextCategory)="setActiveCategory($event)"
    ></app-next-category>
  </div>
</div>
