#main-page {
  border: 2px solid grey;
  border-radius: 15px;
  padding: 0em 2em 2em 2em;
}

#category-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  #category-name {
    font-size: 24px;
  }
}
