<div id="main-page">

  <h2>{{budget.income}}</h2>
  <app-category-navbar [categories]="budget.categories"></app-category-navbar>
  <app-add-category (addCategory)="addCategory($event)"></app-add-category>

  <div *ngIf="!incomePage">
    <app-remove-category
      *ngIf="activeCategoryIndex > 0"
      [activeCategory]="activeCategory"
      (removeCategory)="removeActiceCategory($event)"
    ></app-remove-category>
    <app-category [category]="activeCategory"></app-category>
  </div>
  <div *ngIf="incomePage">
    <app-income (setIncome)="setIncome($event)"></app-income>
  </div>

  <div id="nav-buttons">
    <div *ngIf="categoryIndex === 0 && incomePage">
      <form (ngSubmit)="setIncomePage(incomePage)">
        <input type="submit" value=">" />
      </form>
    </div>
    <div *ngIf="categoryIndex === 0 && !incomePage">
      <form (ngSubmit)="setIncomePage(incomePage)">
        <input type="submit" value="<" />
      </form>
    </div>
  </div>

  <div *ngIf="categoryIndex > 0 && !incomePage">
    <app-previous-category
      [index]="categoryIndex"
      (previousCategory)="setActiveCategory($event)"
    ></app-previous-category>
  </div>
  <div *ngIf="categoryIndex != activeCategoryIndex && !incomePage">
    <app-next-category
      [index]="categoryIndex"
      [categoryCount]="activeCategoryIndex"
      (nextCategory)="setActiveCategory($event)"
    ></app-next-category>
  </div>
</div>
